.cards-league {
    display:grid;
    text-align: center;
    margin-top: 10px;
    width: auto;
    margin: auto;
    margin-top: -40px;
}

.cards-league .league{
    width: 60rem;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 20px;
}

.cards-league .game{
    width: 50rem;
    margin: auto;
    margin-top: 25px;
    border-radius: 20px;
}

.league-h4 {
    font-size: 40px;
    margin-top: 20px;
}

.league-h4 span {
    color: yellowgreen;
}

.info-h4 span{
    font-size: 20px;
    margin-right: 50px;
}

.img-league{
    margin: auto;
    width: 750px;
    height: 340px;
    margin-top: 40px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.span-icon {
    margin-left: 10px;
    margin-right: -20px;
}

.table-logo {
    width: 23px;
    height:30px;
}

.table-logo-game {
    width: 23px;
    height:30px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.game-row td {
    font-size: 20px;
    font-style: italic;
}

.home-name{
    width: 110%;
    font-size: 20px;
}

.away-name {
    width: 90%;
    float:right;
    font-size: 20px;
}

.home-details {
    position: absolute;
    left: 10rem;
    margin-top: 40px;
}

.away-details {
    margin-top: 12px;
}

.home-name span{
    float: left;
     font-size: 20px;
}

.away-name span{
    float: right;
}