.btn {
    background-color: yellowgreen;
    margin-top: 30px;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 60px;
}

.dropdown-menu {
    background-color: #222224;
    border-radius: 8px;
    margin-right: 10px;
}

.dropdown-menu li {
    width: 200px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.dropdown-menu li h5{
    color: whitesmoke;
    transition: all 0.3s;
}

.dropdown-menu li h5:hover{
    color:yellowgreen;
}

.player {
    width: 60rem;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 20px;
}

.player:hover {
    transform: none;
}

.player tr td h6{
    float:left;
    margin-top: 5px;
}

.sort {
    cursor: pointer;
    transition: all 0.3s;
}

.sort:hover{
    color:yellowgreen;
}